.header {
  z-index: 10;
  position: fixed;
  top: 6rem;

  img {
    width: 3.1rem;
    @include breakpoint($mobile-lg) {
      width: 2rem;
    }
  }

  @include breakpoint($mobile-lg) {
    top: 2rem;
  }
}