.header-component {
  .header {
    z-index: 10;
    position: fixed;
    top: 6rem;

    img {
      width: 3.1rem;
    }
  }

  .audio-control {
    cursor: pointer;
    position: absolute;
    right: 6rem;
    opacity: 1;
    transition: 1s opacity ease;
    z-index: 1000;
    &.hidden {
      opacity: 0;
    }
  }
}