.dropdown {
  width: 43.9rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 22rem;
}

.dropdown__toggle {
  width: 100%;
  border-bottom: 0.2rem solid black;
  position: relative;
  height: 5rem;
  cursor: pointer;
}

.dropdown__icon {
  position: absolute;
  right: 0.2rem;
  top: 1.5rem;
}

.dropdown__menu {
  position: absolute;
  top: 7rem;
  text-align: left;

  li {
    padding: 1.2rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;

    &:hover {
      background: rgba($red, 0.1);
    }
  }
}

.dropdown__title {
  position: absolute;
  left: 0;
  top: 1.5rem;
  padding-left: 2rem;
  color: $red;
}