.image-selector {
  max-width: 96rem;
}

ul.image-list {
  @extend .cf;
  
  .image__item {
    cursor: pointer;
    width: calc(33.333333% - 4rem);
    height: 28rem;
    float: left;
    position: relative;
    border-radius: 0.5rem;
    transition: background-color 0.1s ease-in-out;
    margin: 0 2rem;

    &:hover {
      background-color: rgba($red, 0.04);
    }

    &.selected { background-color: rgba($red, 0.1); }

    &.selected svg {
      path, polygon, polyline { stroke: $red !important; }
    }

    svg {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
