.nav__sheet.sheet-gallery {
  overflow-y: visible;
}
.gallery {
  margin-top: 7rem;
  @include breakpoint($tablet-sm) {
    margin-top: 0;
    overflow-y: visible;
  }
}

.gallery .title {
  text-align: center;
}

.drink-list {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.drink-list li {
  width: 14%;
  padding-top: 14%; //Should be the same as the height
  height: 0px;
  position: relative;
  float: left;
  text-align: center;
  border-radius: 50%;
  background: green;
  margin: 1.333333%;
  cursor: pointer;

  @include breakpoint($desktop-sm) {
    width: 30%;
    padding-top: 30%;
  }
  // @include breakpoint($tablet-lg)
  @include breakpoint($tablet-sm) {
    width: 25%;
    padding-top: 25%;
    margin: 4.166%;
  }

  &:hover {
    background: #F3ECD8;
  }
}

.drink-list li .drink-wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 60%;
}

.drink-list li img {
  display: block;
  max-width: 100%;
  max-height: calc(100%);
  margin: 0 auto;
}

.drink-list li span {
  display: block;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 4rem;
  font-size: 2rem;
  color: #454545;
}

.gallery-footer {
  text-align: center;
  margin: 6rem 0;
  @include breakpoint($mobile-lg) {
    margin: 0;
    button {
      max-width: 70%;
      margin-bottom: 2rem;
    }
  }
  .footer {
    position: relative;
    bottom: 0;
    margin-top: 10rem;
  }
}

.gallery-footer h2 {
  margin-bottom: 2rem;
  @include breakpoint($tablet-lg) {
    margin-bottom: 3rem;
  }
}
