.hero {
  color: $offwhite;

  h1, h2 {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    width: 50%;
    @include breakpoint($tablet-lg) {
      width: 90%;
      font-size: 3.6rem;
    }
  }

  h2 {
    width: 65%;
    @include breakpoint($tablet-lg) {
      width: 50%;
      font-size: 2.4rem;
    }
  }

  &.index {
    background-color: $darkblue;
    // background-image: url(http://redshiftdigital.com/holiday2016/assets/img/hero_bg.svg);
    // background-position: center;
    // background-repeat: no-repeat;
  }

  .btn {
    color: #235e94;
  }

  .typ--center {
    position: relative;

    .col--center {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }

  img {
    max-width: 33%;
    @include breakpoint($mobile-lg) {
      max-width: 50%;
    }
  }
}
