.hero {
  color: $offwhite;

  &.index {
    background-color: $darkblue;
    // background-image: url(http://redshiftdigital.com/holiday2016/assets/img/hero_bg.svg);
    // background-position: center;
    // background-repeat: no-repeat;
  }
  .btn {
    color: #235e94;
  }

  .typ--center {
    position: relative;
    .col--center {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }
}
