.question__page {
  @extend .layout--fullheight;
  @extend .layout--flex;
  color: #454545;
  background-position: center;
  background-repeat: no-repeat;
}

.question__answers li {
  @include font(medium);
  padding: 0.5rem 2rem;
  background: $white;
  border: 0.2rem solid $white;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: $white !important;
  }
}
