.question__page {
  @extend .layout--fullheight;
  // @extend .layout--flex;
  color: #454545;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/img/question_bg.svg);
  position: relative;
}

.question-section, .response-section, .next-section {
  opacity: 1;
  transition: opacity 0.75s ease;
  &.hidden {
    opacity: 0;
  }
}

.response-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -5rem;
}

.question__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // media queries
  @include breakpoint($mobile-lg) {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.question__answers li {
  @include font(medium);
  padding: 0.5rem 2rem;
  background: $white;
  border: 0.2rem solid $white;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: $white !important;
  }
}