.footer {
  @extend .cf;
  position: absolute;
  bottom: 4rem;
  z-index: 10;
  width: 100%;
  left: 0;
  //media queries
  @include breakpoint($mobile-lg) {
    bottom: 1.5rem;
  }
}

.footer__social {
  @include breakpoint($mobile-lg) {
    float: none;
    display: block;
    text-align: center;
  }
}

.footer__social li {
  margin-right: 3rem;
  //media queries
  @include breakpoint($mobile-lg) {
    margin-right: 2.5rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.address {
  @include breakpoint($mobile-lg) {
    float: none;
    display: block;
    text-align: center;
  }
}
