.layout--left {
  float: left;
}

.layout--right {
  float: right;
}

.layout--top {
  vertical-align: top;
}

.layout--relative {
  position: relative;
}

// clearfix
.cf {
  clear: both;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.layout--fullheight {
  height: 100vh;
}

.layout--flex {
  display: flex;
  align-items: center;
}

.list--inline {
  li {
    display: inline-block;
  }
}

ol {
  list-style-type: decimal;
  margin-left: 1.6rem;
}
