div.loader {
  opacity: 1;
  transition: 1s opacity ease;
  height: 50%;
  position: relative;
  top: 20%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(http://redshiftdigital.com/holiday2016/assets/img/question_bg.svg);
  h4 {
    text-align: center;
  }
  &.hidden {
    opacity: 0;
  }
  img {
    width: 40%;
    max-width: 318px;
  }
}