// colors

$bodytext: #454545;
$offwhite: #FBF7EF;
$darkgreen: #265347;
$red: #BB191A;

$white: #FFFFFF;
$black: #000000;

// fonts
$bodyfont: Lora, Georgia, serif;
$headerfont: Source Sans Pro, Helvetica, Arial, sans-serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;;


// gradient mixin
@mixin gradient($angle, $from, $to) {
  // fallback/image non-cover color
  background-color: $from;

  @if $angle == 'horizontal' {
    background: linear-gradient(to right, $from 0%, $to 100%);
  } @else if $angle == 'vertical' {
    background: linear-gradient(to bottom, $from 0%, $to 100%);
  }
}
