.result {
  overflow: auto;
  height: 100%;
  .theme--dark {
    background-image: url(http://redshiftdigital.com/holiday2016/assets/img/drink_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65% auto;
  }
}

.result__drink--frame {
  overflow: hidden;
}

.result__gradient-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.18) 100%);
  height: 100%;
}

.result__drink--frame {
  height: calc(100vh - 11.5rem);
  // media queries
  @include breakpoint($mobile-lg) {
    height: calc(100vh - 6rem);
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari only override */
  ::i-block-chrome,.result__drink--frame {
    @include breakpoint($mobile-lg) {
      height: calc(100vh - 12rem);
    }
  }
}

.result__recommend {
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 1.4rem;
  }
}

.result__drink {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 105.5rem;
  // media queries
  @include breakpoint($mobile-lg) {
    text-align: center;
    display: block;
    height: 100%;
  }
}

.result__beer-drink {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 105.5rem;
  // media queries
  @include breakpoint($tablet-md) {
    text-align: center;
  }
  @include breakpoint($mobile-lg) {
    top: 18%;
  }
}

.recipe {
  padding-bottom: 26rem;
  min-height: calc(100vh + 11.5rem);
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 20rem;
  }
  .fa-angle-down {
    font-size: 2rem;
    padding-left: 0.6rem;
    @include breakpoint($mobile-lg) {
      font-size: 1.6rem;
    }
  }
}

.recipe__description {
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 1.8rem;
  }
}

.result__drink--heading {
  // media queries
  @include breakpoint($mobile-lg) {
    // position: absolute;
    // right: 2rem;
    // bottom: 10rem;
    // width: 48%;
    // text-align: right;
    // z-index: 99;
    // margin-top: 2rem;
    // margin-bottom: 0;
    font-size: 1.5rem;
  }
}

.result__beer-drinkimg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('http://redshiftdigital.com/holiday2016/assets/img/drinks/beer_fink.png');
  background-size: cover;
  @include breakpoint($mobile-lg) {
    // height: auto;
    // max-width: 100%;
    // bottom: 0;
    background-position: 27% bottom !important;
    background-size: 140%;
    background-repeat: no-repeat;
    bottom: 0;
    background-position: left bottom;
  }
}

.result__drinkimg {
  width: 33%;
  height: 0;
  padding: 0;
  padding-top: 100%;
  margin-right: 0rem;
  position: relative;
  // media queries
  @include breakpoint($mobile-lg) {
    max-width: 40%;
    margin: 0 auto;
    padding-top: 55%
  }
  @include breakpoint($mobile-sm) {
    max-width: 40%;
    margin: 0 auto;
    padding-top: 70%
  }
}

.result__drinkimg img {
  position: absolute;
  margin: auto;
  max-width: 100%;
  max-height: 58%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include breakpoint($desktop-lg) {
    max-height: 45%;
    // margin: 50% auto 0;
    left: 33%;
  }

  @include breakpoint($mobile-lg) {
    left: 0;
    max-height: 65%;
    margin: 50% auto 0;
  }

  @include breakpoint($mobile-sm) {
    max-height: 80%;
    margin: 50% auto 0;
  }
}

.result__drinkname {
  max-width: 60%;
  padding-top: 0;
  padding-left: 8rem;
  &.beer {
    max-width: 100%;
    padding-left: 0;
  }
  // media queries
  @include breakpoint($tablet-md) {
    padding-left: 6rem;
    margin-bottom: 6rem;
    position: relative;
    z-index: 99;
  }

  @include breakpoint($mobile-lg) {
    margin: 4% 0;
    max-width: 100%;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    max-width: 100%;
    &.beer {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h1 {
    font-size: 8rem;
    padding-top: 0rem;
    line-height: 1;
    // media queries
    @include breakpoint($desktop-lg) {
      font-size: 6rem;
    }

    @include breakpoint($tablet-sm) {
      position: relative;
      font-size: 5rem;
      top: 1.6rem;
    }

    @include breakpoint($mobile-lg) {
      font-size: 5rem;
    }

    @include breakpoint($mobile-xsm) {
      font-size: 3rem;
    }
  }
  h3 {
    @include breakpoint($desktop-lg) {
      font-size: 2.2rem;
    }

    @include breakpoint($tablet-lg) {
      font-size: 1.6rem;
    }
  }
}

.recipe__trigger {
  padding: 4.5rem 0 10rem;
  width: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
  letter-spacing: 0.7rem;
  // media queries
  @include breakpoint($mobile-sm) {
    padding: 2rem 0;
  }
}

.recipe__keyline {
  @extend .cf;
  display: block;
  width: 100%;
  height: 0.8rem;
  margin: 13rem 0 15rem;
  border-top: 0.2rem solid;
  border-bottom: 0.2rem solid;
  position: relative;
  text-align: center;
  // media queries
  @include breakpoint($mobile-lg) {
    margin: 11rem 0 13rem;
  }
  img {
    @include breakpoint($mobile-lg) {
      width: 60%;
    }
  }
}

.recipe__keyline__img {
  width: 35rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $offwhite;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 13rem;
  }
}

.gallery-link {
  clear: both;
  display: block;
  text-align: center;
  letter-spacing: 0.7rem;
  margin-top: 12rem;
}

audio {
  display: none;
}

.audio-control {
  cursor: pointer;
  position: absolute;
  right: 6rem;
  bottom: 6rem;
  opacity: 1;
  transition: 1s opacity ease;
  z-index: 1000;
  // media queries
  @include breakpoint($mobile-lg) {
    bottom: 2rem;
    right: 2rem;
  }
  .audio-child {
    position: relative;
    .pause {
      background-image: url('http://redshiftdigital.com/holiday2016/assets/img/pause.png');
      width: 1.6rem;
      height: 1.6rem;
      background-repeat: no-repeat;
    }
    .play {
      background-image: url('http://redshiftdigital.com/holiday2016/assets/img/play.png');
      width: 1.6rem;
      height: 1.6rem;
      background-repeat: no-repeat;
    }
  }
  &.hidden {
    opacity: 0;
  }
  i {
    font-size: 2.5rem;
    display: inline-block;
    position: absolute;
    left: -1rem;
    top: 0;
  }
  p {
    font-size: 1.2rem;
    line-height: 0.3;
    margin-left: 2rem;
    // media queries
    @include breakpoint($mobile-lg) {
      margin-left: 1.2rem;
    }
  }
}

i.fa-chevron-down {
  vertical-align: text-top;
  margin-left: 1rem;
}