.result {
  overflow: auto;
  height: 100%;
  .theme--dark {
    background-image: url(http://redshiftdigital.com/holiday2016/assets/img/drink_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.result__gradient-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.18) 100%);
  height: 100%;
}

.result__drink--frame {
  height: calc(100vh - 11.5rem);
  // media queries
  @include breakpoint($mobile-lg) {
    height: calc(100vh - 6rem);
  }
}

.result__recommend {
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 1.4rem;
  }
}

.result__drink {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 105.5rem;
  // media queries
  @include breakpoint($tablet-md) {
    text-align: center;
  }
  @include breakpoint($mobile-lg) {
    display: block;
    height: 100%;
  }
}

.recipe {
  padding-bottom: 26rem;
  min-height: calc(100vh + 11.5rem);
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 20rem;
  }
}

.recipe__description {
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 1.8rem;
  }
}

.result__drink--heading {
  // media queries
  @include breakpoint($mobile-lg) {
    position: absolute;
    right: 2rem;
    bottom: 10rem;
    width: 48%;
    text-align: right;
    z-index: 99;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
}

.result__beer-drinkimg {
  width: 100%;
  position: absolute;
}

.result__drinkimg {
  width: 33%;
  // float: left;
  margin-right: 0rem;
  @include breakpoint($mobile-lg) {
    margin-left: 0;
    position: absolute;
    float: none;
    width: 61%;
    left: -5rem;
    bottom: 0rem;
  }
}

.result__drinkname {
  max-width: 50%;
  // float: right;
  padding-top: 0;
  padding-left: 8rem;
  // media queries
  @include breakpoint($tablet-md) {
    margin-bottom: 6rem;
    position: relative;
    z-index: 99;
  }

  @include breakpoint($mobile-lg) {
    max-width: 100%;
    height: 100%;
    padding-top: 0;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  h1 {
    font-size: 8rem;
    padding-top: 0rem;
    line-height: 1;
    // media queries
    // @include breakpoint($tablet-md) {
    //   padding-top: 15rem;
    // }
    @include breakpoint($tablet-sm) {
      // padding-top: 5rem;
      position: relative;
      font-size: 5rem;
      top: 1.6rem;
    }
    @include breakpoint($mobile-lg) {
      // padding-top: 5rem;
      position: relative;
      font-size: 5rem;
      top: 1.6rem;
    }
  }
}

.recipe__trigger {
  padding: 4.5rem 0 10rem;
  width: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
  letter-spacing: 0.7rem;
  // media queries
  @include breakpoint($mobile-sm) {
    padding: 2rem 0;
  }
}

.recipe__keyline {
  @extend .cf;
  display: block;
  width: 100%;
  height: 0.8rem;
  margin: 13rem 0 15rem;
  border-top: 0.2rem solid;
  border-bottom: 0.2rem solid;
  position: relative;
  text-align: center;
  // media queries
  @include breakpoint($mobile-lg) {
    margin: 11rem 0 13rem;
  }
}

.recipe__keyline__img {
  width: 35rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $offwhite;
}

.gallery-link {
  margin-top: 8rem;
  font-weight: 600;
  clear: both;
  // media queries
  @include breakpoint($mobile-lg) {
    margin-top: 5rem;
  }
}

audio {
  display: none;
}

.audio-control {
  cursor: pointer;
  position: absolute;
  right: 6rem;
  bottom: 6rem;
  opacity: 1;
  transition: 1s opacity ease;
  z-index: 1000;
  // media queries
  @include breakpoint($mobile-lg) {
    bottom: 2.8rem;
    right: 2rem;
  }
  .audio-child {
    position: relative;
  }
  &.hidden {
    opacity: 0;
  }
  i {
    font-size: 2.5rem;
    display: inline-block;
    position: absolute;
    left: -2rem;
    bottom: 0.9rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 0.3;
    margin-left: 2rem;
    // media queries
    @include breakpoint($mobile-lg) {
      margin-left: 1.2rem;
    }
  }
}

i.fa-chevron-down {
  vertical-align: text-top;
  margin-left: 1rem;
}